body{
  /* background-image: url("../img/cover.png"); */
  background: #17162F;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main_div{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration{
  width: 545px;
  height: 757px;
  border-radius: 30px;
  background: #252441;
  display: flex;
  animation: log_ani_1 1s ease;
  flex-direction: column;
  text-align: center;
  align-items: center;
  visibility: visible;
}
.log_in{
  width: 545px;
  height: 460px;
  animation: log_ani_2 1s ease;
  border-radius: 30px;
  background: #252441;
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.text_1{
  /* Create an account */
  width: 100%;
  height: 71px;
  margin-top: 40px;
  animation: text_all 1s ease;
  font-family: 'Saira Stencil One', cursive;
  font-weight: 400;
  font-size: 43px;
  line-height: 68px;
  text-align: center;
  color: #FFFFFF;
}
.text_2{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 57px;
  font-family: 'Saira Stencil One', cursive;
  animation: text_all 1s ease;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  align-self: flex-start;
}
.text_2_2{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 57px;
  font-family: 'Saira Stencil One';
  animation: text_all 1s ease;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #5A58C7;
  align-self: flex-end;
  cursor: pointer;
}
.text_2_2:hover{
  color: #4948a3;
}
.text_2_3{
  margin-top: 30px;
  margin-left: 57px;
  font-family: 'Saira Stencil One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  align-self: flex-start;
}
.info{
  width: 455px;
  height: 62px;
  animation: text_all 1s ease;
  background: #171729;
  border-radius: 26px;
}
.info_inp{
  height: 100%;
  width: 100%;
  border-radius: 26px;
  border: 0px;
  background: #171729;
  color: #FFFFFF;
  font-family: 'Saira Stencil One';
  font-size: 18px;
}
.info_inp:hover{
  background: #11111f;
}
.info_inp:focus {
  background: #11111f;
  outline: 0;
}
.submit{
  font-family: 'Saira Stencil One';
  animation: text_all 1s ease;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 57px;
  text-align: center;
  color: #FFFFFF;
  width: 236px;
  height: 58px;
  background: #5A58C7;
  border-radius: 27px;
  cursor: pointer;
}
.submit:hover{
  background: #4948a3;
}
.blue_color{
  color: #5A58C7;
}
.blue_color:hover{
  color: #4948a3;
  cursor: pointer;
}
@keyframes log_ani_1 {
  0%{
    height: 0px;
    width: 0px;
  }
  50%{
    height: 670px;
    width: 545px;
  }
}
@keyframes log_ani_2 {
  0%{
    height: 0px;
    width: 0px;
  }
  50%{
    height: 400px;
    width: 545px;
  }
}
@keyframes text_all  {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media only screen and (max-width: 580px) {
  .registration{
    width: 350px;
    height: 600px;
  }
  @keyframes log_ani_1 {
    0%{
      height: 0px;
      width: 0px;
    }
    50%{
      height: 540px;
      width: 350px;
    }
  }
  @keyframes log_ani_2 {
    0%{
      height: 0px;
      width: 0px;
    }
    50%{
      width: 350px;
      height: 350px;
    }
  }
  .text_1{
    margin-top: 10px;
    font-size: 33px;
  }
  .info{
    width: 330px;
    height: 62px;
    background: #171729;
    border-radius: 26px;
  }
  .info_inp{
    font-size: 16px;
  }
  .text_2{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 27px;
    font-family: 'Saira Stencil One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    align-self: flex-start;
  }
  .text_2_2{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
  }
  .submit{
    font-family: 'Saira Stencil One';
    margin-top: 10px;
  }
  .log_in{
    width: 350px;
    height: 400px;
    border-radius: 30px;
    background: #252441;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

@media only screen and (max-height: 770px) {
  .registration{
    width: 350px;
    height: 550px;
  }
  @keyframes log_ani_1 {
    0%{
      height: 0px;
      width: 0px;
    }
    50%{
      height: 540px;
      width: 350px;
    }
  }
  @keyframes log_ani_2 {
    0%{
      height: 0px;
      width: 0px;
    }
    50%{
      width: 350px;
      height: 350px;
    }
  }
  .text_1{
    margin-top: 10px;
    font-size: 33px;
  }
  .info{
    width: 330px;
    height: 62px;
    background: #171729;
    border-radius: 26px;
  }
  .info_inp{
    font-size: 16px;
  }
  .text_2{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 27px;
    font-family: 'Saira Stencil One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    align-self: flex-start;
  }
  .text_2_2{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    align-self: center;
  }
  .submit{
    font-family: 'Saira Stencil One';
    margin-top: 10px;
  }
  .log_in{
    width: 350px;
    height: 400px;
    border-radius: 30px;
    background: #252441;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}














/* sdfsdf */
